.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.App {
    max-width: 80vw;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.phone {
    background: #e2e8f0;
    border-radius: 10px;
    padding: 20px;
}

input {
    height: 25px;
    border: none;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.recaptcha-container > div > div {
    width: 100%;
}

.btn-normal {
    border: none;
    padding: 15px 5px;
    width: 100%;
    background: #0f172a;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.social {
    background: #e2e8f0;
    border-radius: 10px;
    padding: 20px;
}

.sign-in {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}

.apple {
    background: #0f172a;
    color: white;
}

.facebook {
    background: #036ae9;
    color: white;
}

.google {
    background: #e24134;
    color: white;
}

textarea {
    border: none;
    border-radius: 5px;
}
